# 忽略所有操作系统的垃圾文件
.DS_Store
Thumbs.db

# 忽略 IDE 配置文件
.idea/
.vscode/

# 忽略 Python 缓存和虚拟环境
__pycache__/
*.pyc
venv/
*.env

# 忽略数据库文件 (重要！容器会自己创建)
*.db
*.db-journal

# 忽略前端依赖 (非常重要！)
node_modules/

# 忽略前端构建输出
dist/

# 忽略 NPM 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略我们本地的 .htpasswd 占位符
# (我们不希望 install.sh 脚本把它拉下来)
# *我们将在下一步中删除本地的占位符*
frontend/.htpasswd